<a href="https://colab.research.google.com/github/gcubillos7/technical-test-torre/blob/main/TechnicalTest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Technical test

##Data importation and first approch

In [1]:
!gdown --id 1EDxy0azg2IbpL0-jRfC4bHlZTnMkrjHH

Downloading...
From: https://drive.google.com/uc?id=1EDxy0azg2IbpL0-jRfC4bHlZTnMkrjHH
To: /content/reed_uk.csv
109MB [00:01, 106MB/s]

In [2]:
import pandas as pd
import numpy as np
import nltk
nltk.download('stopwords')
nltk.download('punkt')
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [3]:
reed=pd.read_csv('/content/reed_uk.csv')

In [4]:
reed.head(10)

                   category  ...               state
0             catering jobs  ...               Devon
1                  law jobs  ...           Wiltshire
2              factory jobs  ...         East Anglia
3                  law jobs  ...         West Sussex
4              factory jobs  ...  South East England
5               retail jobs  ...       County Antrim
6              factory jobs  ...             Norfolk
7  motoring automotive jobs  ...        Bedfordshire
8  motoring automotive jobs  ...          Lancashire
9                  law jobs  ...      West Yorkshire

[10 rows x 12 columns]

In [5]:
reed.describe()

           category    city  ...       salary_offered   state
count         50000   50000  ...                50000   49980
unique           37    2918  ...                 7345     167
top     health jobs  London  ...   Salary negotiable   London
freq           1930    4349  ...                 4539    5900

[4 rows x 12 columns]

geo' and 'job_board' gives no information so it will be droped.
'state' info is implicit in 'city' and 'post_date' is not necessary for the analysis

##Clean of the data

In [6]:
reed=reed.drop(['geo', 'job_board', 'state','post_date'], axis=1)

In [7]:
reed=reed.drop_duplicates()

In [8]:
reed.describe()

                          category  ...       salary_offered
count                        44477  ...                44477
unique                          37  ...                 7345
top     construction property jobs  ...   Salary negotiable
freq                          1829  ...                 3985

[4 rows x 8 columns]

We drop NaN present principaly in 'job_description'

In [9]:
reed=reed.dropna()

Then, stopwords and other characters will be removed from the text

In [10]:
def remove_stopwords(text):
      if type(text)!=float:      
        STOPWORDS = set(stopwords.words('english'))
        STOPWORDS.update(['Apply', 'now', 'Required','skills', 'per', 'annum',',','pro-rata','ote','hour','inc','benefits', '/', '1','2',
                          '3','4','5','6','7','8','9','0'])
        tokens = nltk.word_tokenize(text)
        t = ' '.join([word for word in text.split() if word not in STOPWORDS]) 
        t=t.lower()
        return t

In [11]:
for col in reed.columns:
  print(col)
  if (col!='city' and col!='category' and col!='company_name' and col!='id'):
    reed[col]=reed[col].map(lambda x: remove_stopwords(x))

category
city
company_name
job_description
job_requirements
job_title
job_type
salary_offered

In [12]:
reed.head(10)

                    category  ...                          salary_offered
3                   law jobs  ...                £15,000 - £17,000 annum,
7   motoring automotive jobs  ...                       £35,000 - £40,000
9                   law jobs  ...                £18,000 - £25,000 annum,
10  motoring automotive jobs  ...            £12,000 - £40,000 annum, ote
15             catering jobs  ...                           £8.00 - £8.50
16               retail jobs  ...            £25,000 - £30,000 annum, ote
17             catering jobs  ...                                   £7.50
21                  law jobs  ...                       £20,000 - £26,000
22  motoring automotive jobs  ...  £20,000 - £25,000 annum, benefits, ote
24               retail jobs  ...                          £8.00 - £10.00

[10 rows x 8 columns]

In [13]:
reed.describe()

                category    city  ...              job_type      salary_offered
count              18344   18344  ...                 18344               18344
unique                37    1950  ...                     9                4205
top     engineering jobs  London  ...  permanent, full-time  competitive salary
freq                 940    1432  ...                 14053                1331

[4 rows x 8 columns]

##Graph database creation with neo4j

In [14]:
!pip install neo4j
 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from neo4j import GraphDatabase

Requirement already satisfied: neo4j in /usr/local/lib/python3.7/dist-packages (4.2.1)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from neo4j) (2018.9)

In [15]:
class Neo4jConnection:
    
    def __init__(self, uri, user, pwd):
        self.__uri = uri
        self.__user = user
        self.__pwd = pwd
        self.__driver = None
        try:
            self.__driver = GraphDatabase.driver(self.__uri, auth=(self.__user, self.__pwd))
        except Exception as e:
            print("Failed to create the driver:", e)
        
    def close(self):
        if self.__driver is not None:
            self.__driver.close()
        
    def query(self, query, parameters=None, db=None):
        assert self.__driver is not None, "Driver not initialized!"
        session = None
        response = None
        try: 
            session = self.__driver.session(database=db) if db is not None else self.__driver.session() 
            response = list(session.run(query, parameters))
        except Exception as e:
            print("Query failed:", e)
        finally: 
            if session is not None:
                session.close()
        return response

In [16]:
def get_job_title(line): 
    return list(line.split(" "))
 
 
def get_category_list(line):
    # Cleans category dataframe column, creating a list of categories in the
    # row.
    line=line.split(" ")
    line=line[:-1]
    return list(line)
 
def get_city_list(line):
  listline=[]
  listline.append(line)
  return listline
 
def add_job_title(job_title):
    query = '''UNWIND $rows AS row
    MERGE (jt:Job_title {job_title: row.job_title})
    RETURN count(*) as total
    '''
    return conn.query(query, parameters={'rows': job_title.to_dict('records')})
 
 
def add_city(rows):
    query = '''UNWIND $rows AS row
               MERGE (ct:City {city: row.city})
               RETURN count(*) as total
    '''
    return conn.query(query, parameters={'rows': city.to_dict('records')})
 
 
def add_category(rows): 
    query = '''
    UNWIND $rows as row
    MERGE (c:Category {category: row.category}) ON CREATE SET c.category = row.category
    
    // connect job_title
    WITH row, c
    UNWIND row.job_title_list AS job_title_list
    MATCH (jt:Job_title {job_title: job_title_list})
    MERGE (c)-[r:POSITION]->(jt)

    // connect city
    WITH  row, c 
    UNWIND row.city_list AS city_list
    MATCH (ct:City {city: city_list})
    MERGE (c)-[r:REQUIRED_IN]->(ct)
    RETURN count (c) as total
    '''
 
    return conn.query(query, parameters={'rows': reed.to_dict('records')})

In [17]:
reed['category_list'] = reed['category'].map(get_category_list)
category = pd.DataFrame(reed[['category_list']])
category.rename(columns={'category_list':'category'}, inplace=True)
 
 
reed['job_title_list'] = reed['job_title'].map(get_job_title)
job_title = pd.DataFrame(reed[['job_title_list']])
job_title.rename(columns={'job_title_list':'job_title'}, inplace=True)
 
 
reed['city_list'] = reed['city'].map(get_city_list)
city = pd.DataFrame(reed[['city_list']])
city.rename(columns={'city_list':'city'}, inplace=True)
 

job_title = job_title.explode('job_title').drop_duplicates(subset=['job_title'])
city = city.explode('city').drop_duplicates(subset=['city'])

Data will be upload

In [18]:
conn = Neo4jConnection(uri="bolt://34.201.30.63:7687", user="neo4j", pwd="workbooks-quantities-burns")

In [19]:
conn.query('CREATE CONSTRAINT category IF NOT EXISTS ON (c:Category) ASSERT c.category IS UNIQUE')
conn.query('CREATE CONSTRAINT city IF NOT EXISTS ON (ct:City) ASSERT ct.city IS UNIQUE')
conn.query('CREATE CONSTRAINT job_title IF NOT EXISTS ON (jt:Job_title) ASSERT jt.job_title IS UNIQUE')

[]

In [20]:
add_job_title(job_title)

In [21]:
add_city(city)

In [24]:
add_category(reed) #may require try multiple times
add_category(reed)

Example of query

In [25]:
query_string = '''
MATCH p=()-[r:REQUIRED_IN]->(), z=()-[:POSITION]->() RETURN p,z LIMIT 25
'''

command=conn.query(query_string)
print(command[0]['p'])
print(command[0]['z'])

<Path start=<Node id=9506 labels=frozenset({'Category'}) properties={'category': 'law jobs'}> end=<Node id=7542 labels=frozenset({'City'}) properties={'city': 'Hurstpierpoint'}> size=1>
<Path start=<Node id=9506 labels=frozenset({'Category'}) properties={'category': 'law jobs'}> end=<Node id=804 labels=frozenset({'Job_title'}) properties={'job_title': 'reporting'}> size=1>

In [26]:
conn.close()

In [27]:
!gdown --id 1IyYVGWTxzE6uIZWyHinAInHdERVeK9h1

Downloading...
From: https://drive.google.com/uc?id=1IyYVGWTxzE6uIZWyHinAInHdERVeK9h1
To: /content/graph.svg
100% 27.1k/27.1k [00:00<00:00, 47.9MB/s]

In [28]:
from IPython.display import SVG, display
display(SVG('/content/graph.svg'))