<a href="https://colab.research.google.com/github/gcubillos7/technical-test-torre/blob/main/TechnicalTest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!gdown --id 1EDxy0azg2IbpL0-jRfC4bHlZTnMkrjHH

Downloading...
From: https://drive.google.com/uc?id=1EDxy0azg2IbpL0-jRfC4bHlZTnMkrjHH
To: /content/reed_uk.csv
109MB [00:00, 142MB/s]

In [2]:
import pandas as pd
import numpy as np

In [3]:
reed=pd.read_csv('/content/reed_uk.csv')

In [5]:
reed.head(5)

        category  ...               state
0  catering jobs  ...               Devon
1       law jobs  ...           Wiltshire
2   factory jobs  ...         East Anglia
3       law jobs  ...         West Sussex
4   factory jobs  ...  South East England

[5 rows x 12 columns]